.contacts {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 200px;
    padding: 0;
}

.contacts__vk {
    padding: 0;
    margin: 0;
}

.contacts__tg {
    padding: 0;
    margin: 0;
    margin-left: 36px;
}

.contacts__tel {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-decoration: none;
    color: white;
    width: 190px;
    padding: 0;
    margin: 0;
    transition: text-decoration 0.6s ease-in-out;
}

.contacts__tel:hover {
    cursor: pointer;
    text-decoration: underline 3px #0081CA;
}

.contacts__socials {
    margin: 0;
    padding: 0;
    margin-top: 27px;
    display: flex;
}

svg path {
    transition: fill .3s ease-in-out;
}

svg:hover path {
    cursor: pointer;
    fill: #0081CA;
}

.contacts__post {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.contacts__name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 13px;
}

.contacts__mail {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-decoration: none;
    color: white;
    width: 253px;
    padding: 0;
    margin: 0;
    margin-top: 30px;
    transition: text-decoration 0.6s ease-in-out;
}

.contacts__mail:hover {
    cursor: pointer;
    text-decoration: underline 3px #0081CA;
}

.contacts__info {
    height: 324px;
    width: 487px;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-left: 93px;
}

.contacts__header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    min-width: 266px;
    height: 162px;
    background-image: url('../../../images/contacts-background.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.contacts__content {
    display: flex;
    padding: 0;
    margin: 100px auto 0;
    justify-content: center;
}

.contacts__connections {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    margin-top: 59px;
}

.contacts__avatar {
    width: 324px;
    height: 324px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../../images/avatar.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contacts__avatar-circle {
    width: 290px;
    height: 290px;
    border-radius: 50%;
    border: 3px solid #0081CA;
}

@media screen and (min-width: 1200px) and (max-width: 1650px) {
    .contacts__avatar {
        width: 260px;
        height: 260px;
    }

    .contacts__avatar-circle {
        width: 230px;
        height: 230px;
    }

    .contacts__mail {
        font-size: 22px;
        line-height: 26px;
        margin-top: 14px;
    }

    .contacts__info {
        height: 260px;
    }

    .contacts__header {
        width: 180px;
        height: 110px;
    }

    .contacts__content {
        height: 260px;
    }

    .contacts__vk svg {
        width: 35px;
        height: 30px;
    }

    .contacts__tg svg {
        width: 30px;
        height: 30px;
    }

    .contacts__tel {
        font-size: 22px;
        line-height: 26px;
    }

    .contacts__socials {
        margin-top: 14px;
    }

    .contacts__post {
        font-size: 16px;
        line-height: 20px;
    }

    .contacts__name {
        font-size: 26px;
        line-height: 32px;
        margin-top: 0;
    }
}

@media screen and (min-width: 930px) and (max-width: 1199px) {
    .contacts {
        margin-bottom: 160px;
    }

    .contacts__header {
        width: 140px;
        height: 70px;
    }

    .contacts__content {
        height: 200px;
    }

    .contacts__avatar {
        width: 200px;
        height: 200px;
    }

    .contacts__avatar-circle {
        width: 180px;
        height: 180px;
    }

    .contacts__post {
        font-size: 12px;
        line-height: 16px;
    }

    .contacts__name {
        font-size: 16px;
        line-height: 20px;
        margin-top: 0;
    }

    .contacts__mail {
        font-size: 16px;
        line-height: 20px;
        margin-top: 14px;
    }

    .contacts__tel {
        font-size: 16px;
        line-height: 20px;
    }

    .contacts__connections {
        margin-top: 40px;
    }

    .contacts__vk svg {
        width: 25px;
        height: 20px;
    }

    .contacts__tg svg {
        width: 20px;
        height: 20px;
    }
}

@media screen and (min-width: 426px) and (max-width: 929px) {
    .contacts {
        margin-bottom: 60px;
    }

    .contacts__header {
        width: 120px;
        height: 60px;
    }

    .contacts__content {
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
    }

    .contacts__avatar {
        width: 140px;
        height: 140px;
    }

    .contacts__avatar-circle {
        width: 120px;
        height: 120px;
    }

    .contacts__post {
        font-size: 12px;
        line-height: 16px;
    }

    .contacts__name {
        font-size: 16px;
        line-height: 20px;
        margin-top: 0;
    }

    .contacts__info {
        justify-content: center;
        align-items: center;
        margin: 0;
        height: auto;
        margin-top: 40px;
        width: 100%;
    }

    .contacts__mail {
        font-size: 16px;
        line-height: 20px;
        margin-top: 14px;
        width: auto;
    }

    .contacts__tel {
        font-size: 16px;
        line-height: 20px;
        width: auto;
    }

    .contacts__connections {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contacts__vk svg {
        width: 25px;
        height: 20px;
    }

    .contacts__tg svg {
        width: 20px;
        height: 20px;
    }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
    .contacts {
        margin-bottom: 60px;
    }

    .contacts__header {
        width: 120px;
        height: 60px;
    }

    .contacts__content {
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
    }

    .contacts__avatar {
        width: 140px;
        height: 140px;
    }

    .contacts__avatar-circle {
        width: 120px;
        height: 120px;
    }

    .contacts__post {
        font-size: 12px;
        line-height: 16px;
    }

    .contacts__name {
        font-size: 16px;
        line-height: 20px;
        margin-top: 0;
    }

    .contacts__info {
        justify-content: center;
        align-items: center;
        margin: 0;
        height: auto;
        margin-top: 40px;
        width: 100%;
    }

    .contacts__mail {
        font-size: 16px;
        line-height: 20px;
        margin-top: 14px;
        width: auto;
    }

    .contacts__tel {
        font-size: 16px;
        line-height: 20px;
        width: auto;
    }

    .contacts__connections {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contacts__vk svg {
        width: 25px;
        height: 20px;
    }

    .contacts__tg svg {
        width: 20px;
        height: 20px;
    }
}