.cases__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(456px, auto);
    grid-auto-columns: minmax(456px, auto);
    gap: 38px;
    margin: 50px 8% 0 8%; 
}

@media screen and (min-width: 1200px) and (max-width: 1650px) {
    .cases__grid {
        grid-auto-rows: minmax(300px, auto);
        grid-auto-columns: minmax(300px, auto);
    }
}

@media screen and (min-width: 930px) and (max-width: 1199px) {
    .cases__grid {
        grid-auto-rows: minmax(320px, auto);
        grid-auto-columns: minmax(320px, auto);
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
}

@media screen and (min-width: 426px) and (max-width: 929px) {
    .cases__grid {
        grid-auto-rows: minmax(600px, auto);
        grid-auto-columns: minmax(600px, auto);
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
    }
}


@media screen and (min-width: 320px) and (max-width: 425px) {
    .cases__grid {
        grid-auto-rows: minmax(300px, auto);
        grid-auto-columns: minmax(300px, auto);
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
    }
}