.prices {
    margin: 100px 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.submit__cursor {
    cursor: pointer;
}

.prices__name {
    display: flex;
}

.prices__type {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.1em;
    margin: 48px 16px 25px 42px;
    padding: 0;
}

.prices__switcher {
    display: none;
}

.prices__symbol {
    width: 23px;
    height: 27px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 35px;
    padding: 0;
}

.symbol1 {
    background-image: url('../../../images/price-icon1.svg');
}

.symbol2 {
    background-image: url('../../../images/price-icon2.svg');
}

.symbol3 {
    background-image: url('../../../images/price-icon3.svg');
}

.prices__submit1 {
    text-decoration: none;
    color: #0081CA;
    background-color: white;
    font-family: 'Arkhip';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    letter-spacing: -0.05em;
    width: 188px;
    height: 48px;
    text-align: center;
    border-radius: 30px;
    border: none;
    opacity: 1;
    padding: 0;
    margin: 0 auto;
    transition: border .2s ease-in-out;
    vertical-align: center;
}

.isHiddenSubmit1 {
    text-decoration: none;
    color: #0081CA;
    background-color: white;
    font-family: 'Arkhip';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    letter-spacing: -0.05em;
    width: 188px;
    height: 48px;
    text-align: center;
    border-radius: 30px;
    border: none;
    opacity: 1;
    padding: 0;
    margin: 0 auto;
    transition: border .2s ease-in-out;
    vertical-align: center;
}

.prices__submit2 {
    text-decoration: none;
    color: #0081CA;
    background-color: white;
    font-family: 'Arkhip';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    letter-spacing: -0.05em;
    width: 188px;
    height: 48px;
    text-align: center;
    border-radius: 30px;
    border: none;
    opacity: 1;
    padding: 0;
    margin: 0 auto;
    transition: border .2s ease-in-out;
    vertical-align: center;
}

.isHiddenSubmit2 {
    text-decoration: none;
    color: #0081CA;
    background-color: white;
    font-family: 'Arkhip';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    letter-spacing: -0.05em;
    width: 188px;
    height: 48px;
    text-align: center;
    border-radius: 30px;
    border: none;
    opacity: 1;
    padding: 0;
    margin: 0 auto;
    transition: border .2s ease-in-out;
    vertical-align: center;
}

.prices__submit3 {
    text-decoration: none;
    color: #0081CA;
    background-color: white;
    font-family: 'Arkhip';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    letter-spacing: -0.05em;
    width: 188px;
    height: 48px;
    text-align: center;
    border-radius: 30px;
    border: none;
    opacity: 1;
    padding: 0;
    margin: 0 auto;
    transition: border .2s ease-in-out;
    vertical-align: center;
}

.isHiddenSubmit3 {
    text-decoration: none;
    color: #0081CA;
    background-color: white;
    font-family: 'Arkhip';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    letter-spacing: -0.05em;
    width: 188px;
    height: 48px;
    text-align: center;
    border-radius: 30px;
    border: none;
    opacity: 1;
    padding: 0;
    margin: 0 auto;
    transition: border .2s ease-in-out;
    vertical-align: center;
}

.prices__submit1:hover {
    cursor: pointer;
    border: 2px solid #0081CA;
}

.prices__submit2:hover {
    cursor: pointer;
    border: 2px solid #0081CA;
}

.prices__submit3:hover {
    cursor: pointer;
    border: 2px solid #0081CA;
}

.prices__price1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.1em;
    margin: 0 auto 76px 42px;
}

.prices__price-mobile1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.1em;
    margin: 0 auto 76px 42px;
}

.prices__price2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.1em;
    margin: 0 auto 76px 42px;
}

.prices__price-mobile2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.1em;
    margin: 0 auto 76px 42px;
}

.prices__price3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.1em;
    margin: 0 auto 76px 42px;
}

.prices__price-mobile3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.1em;
    margin: 0 auto 76px 42px;
}

.prices__options1 {
    display: inline-flex;
    flex-wrap: wrap;
    width: 380px;
    height: 210px;
    padding: 0;
    margin: 0 auto 122px;
    gap: 10px;
}

.isHiddenOptions1 {
    display: inline-flex;
    flex-wrap: wrap;
    width: 380px;
    height: 210px;
    padding: 0;
    margin: 0 auto 122px;
    gap: 10px;
}

.prices__options2 {
    display: inline-flex;
    flex-wrap: wrap;
    width: 380px;
    height: 210px;
    padding: 0;
    margin: 0 auto 122px;
    gap: 10px;
}

.isHiddenOptions2 {
    display: inline-flex;
    flex-wrap: wrap;
    width: 380px;
    height: 210px;
    padding: 0;
    margin: 0 auto 122px;
    gap: 10px;
}

.prices__options3 {
    display: inline-flex;
    flex-wrap: wrap;
    width: 380px;
    height: 210px;
    padding: 0;
    margin: 0 auto 122px;
    gap: 10px;
}

.isHiddenOptions3 {
    display: inline-flex;
    flex-wrap: wrap;
    width: 380px;
    height: 210px;
    padding: 0;
    margin: 0 auto 122px;
    gap: 10px;
}

.prices__option {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    border: 2px solid #0081CA;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px;
}

.plus-symbol {
    display: flex;
    justify-content: center;
    align-items: center;
}

.prices__offer {
    width: 100%;
    height: 184px;
    display: flex;
    background-image: url('../../../images/start-background.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-between;
    align-items: center;
}

.prices__offer-text {
    width: 519px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.02em;
    margin: 0 8%;
}

.prices__list {
    margin: 60px auto 120px;
    display: flex;
}

.prices__item1 {
    border: 2px solid #0081CA;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    width: 460px;
    height: 690px;
    margin: auto 40px;
}

.prices__item2 {
    border: 2px solid #0081CA;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    width: 460px;
    height: 690px;
    margin: auto 40px;
}

.prices__item3 {
    border: 2px solid #0081CA;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    width: 460px;
    height: 690px;
    margin: auto 40px;
}

.prices__item-mobile1 {
    border: 2px solid #0081CA;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    width: 460px;
    height: 690px;
    margin: auto 40px;
}

.prices__item-mobile2 {
    border: 2px solid #0081CA;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    width: 460px;
    height: 690px;
    margin: auto 40px;
}

.prices__item-mobile3 {
    border: 2px solid #0081CA;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    width: 460px;
    height: 690px;
    margin: auto 40px;
}

.prices__header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    min-width: 266px;
    height: 162px;
    background-image: url('../../../images/prices-background.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (min-width: 1200px) and (max-width: 1650px) {
    .prices__type {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 14px;
    }

    .prices__symbol {
        width: 18px;
        height: 22px;
    }

    .prices__header {
        width: 180px;
        height: 110px;
    }

    .prices__item1 {
        width: 340px;
        height: 600px;
        margin: auto 20px;
    }

    .prices__item2 {
        width: 340px;
        height: 600px;
        margin: auto 20px;
    }

    .prices__item3 {
        width: 340px;
        height: 600px;
        margin: auto 20px;
    }

    .prices__item-mobile1 {
        border: 2px solid #0081CA;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 600px;
    margin: auto 20px;
    }

    .prices__item-mobile2 {
        border: 2px solid #0081CA;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 600px;
    margin: auto 20px;
    }

    .prices__item-mobile3 {
        border: 2px solid #0081CA;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 600px;
    margin: auto 20px;
    }

    .prices__offer-text {
        font-size: 24px;
        line-height: 28px;
        width: 400px;
        text-align: center;
    }

    .prices__option {
        padding: 11px;
        font-size: 16px;
        line-height: 20px;
    }

    .prices__submit1 {
        font-size: 20px;
        line-height: 38px;
        width: 148px;
        height: 38px;
        text-align: center;
    }

    .isHiddenSubmit1 {
        font-size: 20px;
        line-height: 38px;
        width: 148px;
        height: 38px;
        text-align: center;
    }

    .prices__submit2 {
        font-size: 20px;
        line-height: 38px;
        width: 148px;
        height: 38px;
        text-align: center;
    }

    .isHiddenSubmit2 {
        font-size: 20px;
        line-height: 38px;
        width: 148px;
        height: 38px;
        text-align: center;
    }

    .prices__submit3 {
        font-size: 20px;
        line-height: 38px;
        width: 148px;
        height: 38px;
        text-align: center;
    }

    .isHiddenSubmit3 {
        font-size: 20px;
        line-height: 38px;
        width: 148px;
        height: 38px;
        text-align: center;
    }

    .prices__price1 {
        font-size: 20px;
        line-height: 26px;
    }

    .prices__price-mobile1 {
        font-size: 20px;
        line-height: 26px;
    }

    .prices__options1 {
        width: 320px;
    }

    .isHiddenOptions1 {
        width: 320px;
    }

    .prices__price2 {
        font-size: 20px;
        line-height: 26px;
    }

    .prices__price-mobile2 {
        font-size: 20px;
        line-height: 26px;
    }

    .prices__options2 {
        width: 320px;
    }

    .isHiddenOptions2 {
        width: 320px;
    }

    .prices__price3 {
        font-size: 20px;
        line-height: 26px;
    }

    .prices__price-mobile3 {
        font-size: 20px;
        line-height: 26px;
    }

    .prices__options3 {
        width: 320px;
    }

    .isHiddenOptions3 {
        width: 320px;
    }
}

@media screen and (min-width: 930px) and (max-width: 1199px) {
    .prices__header {
        width: 140px;
        height: 70px;
    }

    .prices__item1 {
        width: 260px;
        height: 560px;
        margin: auto 20px;
    }

    .prices__item-mobile1 {
        border: 2px solid #0081CA;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 560px;
    margin: auto 20px;
    }

    .prices__item2 {
        width: 260px;
        height: 560px;
        margin: auto 20px;
    }

    .prices__item-mobile2 {
        border: 2px solid #0081CA;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 560px;
    margin: auto 20px;
    }

    .prices__item3 {
        width: 260px;
        height: 560px;
        margin: auto 20px;
    }

    .prices__item-mobile3 {
        border: 2px solid #0081CA;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 560px;
    margin: auto 20px;
    }

    .prices__type {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 14px;
    }

    .prices__symbol {
        width: 16px;
        height: 20px;
    }

    .prices__price1 {
        font-size: 16px;
        line-height: 22px;
    }

    .prices__price-mobile1 {
        font-size: 16px;
        line-height: 22px;
    }

    .prices__price2 {
        font-size: 16px;
        line-height: 22px;
    }

    .prices__price-mobile2 {
        font-size: 16px;
        line-height: 22px;
    }

    .prices__price3 {
        font-size: 16px;
        line-height: 22px;
    }

    .prices__price-mobile3 {
        font-size: 16px;
        line-height: 22px;
    }

    .prices__submit1 {
        font-size: 16px;
        line-height: 32px;
        width: 128px;
        height: 32px;
        text-align: center;
    }

    .isHiddenSubmit1 {
        font-size: 16px;
        line-height: 32px;
        width: 128px;
        height: 32px;
        text-align: center;
    }

    .prices__submit2 {
        font-size: 16px;
        line-height: 32px;
        width: 128px;
        height: 32px;
        text-align: center;
    }

    .isHiddenSubmit2 {
        font-size: 16px;
        line-height: 32px;
        width: 128px;
        height: 32px;
        text-align: center;
    }

    .prices__submit3 {
        font-size: 16px;
        line-height: 32px;
        width: 128px;
        height: 32px;
        text-align: center;
    }

    .isHiddenSubmit3 {
        font-size: 16px;
        line-height: 32px;
        width: 128px;
        height: 32px;
        text-align: center;
    }

    .prices__options1 {
        width: 240px;
        margin-bottom: 100px;
    }

    .isHiddenOptions1 {
        width: 240px;
        margin-bottom: 100px;
    }

    .prices__options2 {
        width: 240px;
        margin-bottom: 100px;
    }

    .isHiddenOptions2 {
        width: 240px;
        margin-bottom: 100px;
    }

    .prices__options3 {
        width: 240px;
        margin-bottom: 100px;
    }

    .isHiddenOptions3 {
        width: 240px;
        margin-bottom: 100px;
    }

    .prices__option {
        padding: 11px;
        font-size: 12px;
        line-height: 18px;
    }

    .prices__offer-text {
        font-size: 16px;
        line-height: 20px;
        width: 400px;
        text-align: center;
    }

    .prices__offer {
        height: 114px;
    }
}

@media screen and (min-width: 426px) and (max-width: 929px) {
    .prices {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .isHiddenSubmit1 {
        display: none;
    }

    .isHiddenSubmit2 {
        display: none;
    }

    .isHiddenSubmit3 {
        display: none;
    }

    .prices__header {
        width: 120px;
        height: 60px;
    }

    .prices__list {
        flex-direction: column;
        margin-bottom: 60px;
    }

    .prices__item1 {
        width: 400px;
        height: 600px;
        margin: auto;
        margin-bottom: 30px;
    }

    .prices__item-mobile1 {
        border: 2px solid #0081CA;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        width: 400px;
        height: auto;
        margin: auto 40px;
        margin-bottom: 40px;
    }

    .prices__item2 {
        width: 400px;
        height: 600px;
        margin: auto;
        margin-bottom: 30px;
    }

    .prices__item-mobile2 {
        border: 2px solid #0081CA;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        width: 400px;
        height: auto;
        margin: auto 40px;
        margin-bottom: 40px;
    }

    .prices__item3 {
        width: 400px;
        height: 600px;
        margin: auto;
        margin-bottom: 30px;
    }

    .prices__item-mobile3 {
        border: 2px solid #0081CA;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        width: 400px;
        height: auto;
        margin: auto 40px;
        margin-bottom: 40px;
    }

    .prices__type {
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 14px;
    }

    .prices__symbol {
        width: 18px;
        height: 22px;
    }

    .prices__price1 {
        font-size: 20px;
        line-height: 26px;
    }

    .prices__price-mobile1 {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 50px;
    }

    .prices__price2 {
        font-size: 20px;
        line-height: 26px;
    }

    .prices__price-mobile2 {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 50px;
    }

    .prices__price3 {
        font-size: 20px;
        line-height: 26px;
    }

    .prices__price-mobile3 {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 50px;
    }

    .prices__submit1 {
        font-size: 22px;
        line-height: 48px;
        width: 188px;
        height: 48px;
    }

    .prices__submit2 {
        font-size: 22px;
        line-height: 48px;
        width: 188px;
        height: 48px;
    }

    .prices__submit3 {
        font-size: 22px;
        line-height: 48px;
        width: 188px;
        height: 48px;
    }

    .prices__options1 {
        width: 360px;
        margin-bottom: 100px;
    }

    .isHiddenOptions1 {
        display: none;
    }

    .prices__options2 {
        width: 360px;
        margin-bottom: 100px;
    }

    .isHiddenOptions2 {
        display: none;
    }

    .prices__options3 {
        width: 360px;
        margin-bottom: 100px;
    }

    .isHiddenOptions3 {
        display: none;
    }

    .prices__option {
        padding: 14px;
        font-size: 16px;
        line-height: 20px;
    }

    .prices__offer-text {
        font-size: 12px;
        line-height: 16px;
        width: 400px;
        text-align: center;
    }

    .prices__offer {
        height: 114px;
    }

    .prices__switcher {
        display: block;
        margin: auto 50px 20px auto;
        width: 20px;
        height: 20px;
        outline: none;
        background-color: transparent;
        border: none;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .prices__switcher-background-default {
        background-image: url('../../../images/down-arrow.svg');
    }

    .prices__switcher-background1 {
        background-image: url('../../../images/price-icon1.svg');
    }

    .prices__switcher-background2 {
        background-image: url('../../../images/price-icon2.svg');
    }

    .prices__switcher-background3 {
        background-image: url('../../../images/price-icon3.svg');
    }

    .prices__symbol {
        display: none;
    }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
    .prices__header {
        width: 120px;
        height: 40px;
    }

    .isHiddenSubmit1 {
        display: none;
    }

    .isHiddenSubmit2 {
        display: none;
    }

    .isHiddenSubmit3 {
        display: none;
    }

    .prices__item-mobile1 {
        border: 2px solid #0081CA;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        width: 300px;
        height: auto;
        margin: auto 40px;
        margin-bottom: 30px;
    }

    .prices__item-mobile2 {
        border: 2px solid #0081CA;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        width: 300px;
        height: auto;
        margin: auto 40px;
        margin-bottom: 30px;
    }

    .prices__item-mobile3 {
        border: 2px solid #0081CA;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        width: 300px;
        height: auto;
        margin: auto 40px;
        margin-bottom: 30px;
    }

    .prices {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .prices__list {
        flex-direction: column;
        margin-bottom: 30px;
    }

    .prices__item1 {
        width: 300px;
        height: 500px;
        height: auto;
        margin: auto;
        margin-bottom: 30px;
    }

    .prices__item2 {
        width: 300px;
        height: 500px;
        height: auto;
        margin: auto;
        margin-bottom: 30px;
    }

    .prices__item3 {
        width: 300px;
        height: 500px;
        height: auto;
        margin: auto;
        margin-bottom: 30px;
    }

    .prices__type {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .prices__switcher {
        display: block;
        margin: auto 40px auto auto;
        width: 14px;
        height: 14px;
        outline: none;
        background-color: transparent;
        border: none;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        transition: all .3s;
    }

    .prices__switcher-background-default {
        background-image: url('../../../images/down-arrow.svg');
    }

    .prices__switcher-background1 {
        background-image: url('../../../images/price-icon1.svg');
    }

    .prices__switcher-background2 {
        background-image: url('../../../images/price-icon2.svg');
    }

    .prices__switcher-background3 {
        background-image: url('../../../images/price-icon3.svg');
    }

    .prices__symbol {
        display: none;
    }

    .prices__price1 {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 40px;
    }

    .prices__price-mobile1 {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 30px;
    }

    .prices__price2 {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 40px;
    }

    .prices__price-mobile2 {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 30px;
    }

    .prices__price3 {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 40px;
    }

    .prices__price-mobile3 {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 30px;
    }

    .prices__submit1 {
        font-size: 16px;
        line-height: 40px;
        width: 128px;
        height: 40px;
        margin-bottom: 20px;
        margin-top: 30px;
    }

    .prices__submit2 {
        font-size: 16px;
        line-height: 40px;
        width: 128px;
        height: 40px;
        margin-bottom: 20px;
        margin-top: 30px;
    }

    .prices__submit3 {
        font-size: 16px;
        line-height: 40px;
        width: 128px;
        height: 40px;
        margin-bottom: 20px;
        margin-top: 30px;
    }

    .prices__options1 {
        width: 280px;
        margin-bottom: 0px;
        height: auto;
    }

    .isHiddenOptions1 {
        display: none;
    }

    .prices__options2 {
        width: 280px;
        margin-bottom: 0px;
        height: auto;
    }

    .isHiddenOptions2 {
        display: none;
    }

    .prices__options3 {
        width: 280px;
        margin-bottom: 0px;
        height: auto;
    }

    .isHiddenOptions3 {
        display: none;
    }

    .prices__option {
        padding: 10px;
        font-size: 14px;
        line-height: 18px;
    }

    .prices__offer-text {
        font-size: 12px;
        line-height: 16px;
        width: 300px;
        text-align: center;
    }

    .prices__offer {
        height: 114px;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}